//
// ~~> Search Forms
//
form.search-form {
  @include flexy;
  justify-content: center;
  position: relative;
  width: 240px;
  @include breakpoint(0px 600px) {
    width: auto;
  }

  input[type="submit"] { display: none; }

  input[type="search"],
  input[type="search"]:focus {
    font-family: $sans-serif;
    font-size: 14px;
  	border: 1px solid #333;
  	border-radius: 2px;
    width: 240px;
    @include breakpoint(0px 600px) {
      width: 100%;
    }
  	padding: 8px 5px 6px 7px;
    background-color: transparent;
  }

  label svg {
    position: absolute;
    right: 6px;
    top: 5px;
    width: 20px;
    height: auto;
    #search {
      -webkit-transition: stroke 0.3s ease;
      -moz-transition: stroke 0.3s ease;
      -o-transition: stroke 0.3s ease;
      transition: stroke 0.3s ease;
    }
    &:hover {
      cursor: pointer;
      #search { stroke: $link-colour; }
    }
  }
}
