//
// ~~> Header Menu
//
.main-navigation {
  padding-top: 8px;
  font-weight: 600;
  font-family: $sans-serif;
  text-transform: uppercase;
  .menu-toggle {
    display: none;
    @include breakpoint(0px 800px) {
      display: block;
      cursor: pointer;
      font-size: 20px;
      @include link-plain;
    }
  }
  @include breakpoint(0px 800px) {
    padding-top: 4px;
    .menu-main-menu-container {
      display: none;
      position: fixed;
      top: 50px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      background: rgba(255, 255, 255, 0.95);
    }
  }
  ul {
    @include flexy;
    flex-direction: row;
    @include breakpoint(0px 800px) {
      flex-direction: column;
      height: 100%;
      justify-content: space-around;
      font-size: 20px;
      li a {
        display: block !important;
        text-align: center !important;
      }
    }
    li {
      a {
        @include flexy;
        color: #000;
        letter-spacing: 1px;
        height: 122px;
        padding: 0px 11px;
        @include breakpoint(801px 1100px) {
          padding: 0px 6px;
        }
        @include breakpoint(0px 800px) {
          height: auto;
        }
        @include quick-transition-ease;
      }
      &:hover > a,
      &.focus > a {
        color: $link-colour;
      }
      &:hover > ul,
      &.focus > ul {
        display: flex;
      }
    }
    ul {
      @include flexy;
      display: none;
      align-items: flex-start;
      flex-direction: column;
    	position: absolute;
    	top: 130px;
      padding: 18px 16px 0px;
      border-top: 0.5px solid #eee;
      margin-left: -16px;
      box-shadow: 0px 8px 16px -6px rgba(0, 0, 0, 0.2);
      background: #fff;
    	left: auto;
    	z-index: 99;
      @include breakpoint(0px 800px) {
        display: flex;
        position: static;
        font-size: 16px;
        font-weight: 400;
        align-items: center;
        padding: 0px 0px 0px 0px;
        border-top: none;
        margin-left: auto;
        margin-right: auto;
        box-shadow: none;
        background: none;
      }
      li {
        margin-bottom: 16px;
        @include breakpoint(0px 800px) {
          margin-top: 4px;
          margin-bottom: 4px;
        }
        a {
          height: auto;
        }
      }
    }
  }
}
.main-navigation.shrink {
  padding-top: 4px;
  ul {
    li {
      a {
        height: 46px;
        padding: 0px 8px;
        @include breakpoint(801px 1100px) {
          padding: 0px 6px;
        }
        @include breakpoint(0px 800px) {
          height: auto;
        }
      }
    }
    ul {
    	top: 50px;
      margin-left: -16px;
      @include breakpoint(0px 800px) {
        position: static;
        margin-left: auto;
      }
      a {
        height: auto;
      }
    }
  }
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a {
  color: $link-colour;
}

//
// ~~> Sidebar Menu
//
aside.widget-area.page_sidebar {
  ul {
    font-family: $sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-top: 1.5em;
    li {
      margin-bottom: 1em;
      &.current_page_ancestor,
      &.current_page_item {
        ul { display: block; }
        & > a { color: $link-colour; }
      }
      &:hover,
      &.focus {
        ul { display: block; }
      }
      ul {
        display: none;
        margin-top: 0.5em;
        margin-bottom: 1em;
        margin-left: 1.5em;
        font-size: 16px;
        li {
          margin-bottom: 0.5em;
          &.current_page_item { color: $link-colour; }
        }
      }
    }
  }
}


/* Small menu. */
.main-navigation.toggled ul {
	display: none;
}
