@charset "UTF-8";

@font-face {
  font-family: "socicon";
  src: url("fonts/socicon.woff") format("woff"),
    url("fonts/socicon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "socicon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="socicon-"]:before,
[class*=" socicon-"]:before {
  font-family: "socicon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.socicon-mail:before {
  content: "\e01f";
}
.socicon-snapchat:before {
  content: "\e03f";
}
.socicon-twitter:before {
  content: "\e040";
}
.socicon-facebook:before {
  content: "\e041";
}
.socicon-googleplus:before {
  content: "\e042";
}
.socicon-pinterest:before {
  content: "\e043";
}
.socicon-linkedin:before {
  content: "\e049";
}
.socicon-youtube:before {
  content: "\e051";
}
.socicon-wordpress:before {
  content: "\e058";
}
.socicon-google:before {
  content: "\e067";
}
.socicon-medium:before {
  content: "\e06d";
}
.socicon-instagram:before {
  content: "\e057";
}
.socicon-issuu:before {
  content: "\e087";
}
