@import 'typography';

a {
  color: #f00000;
  border-bottom: 2px solid;
  border-bottom-color: inherit;
  -webkit-transition: border-bottom-color 0.1s ease;
  -moz-transition: border-bottom-color 0.1s ease;
  -o-transition: border-bottom-color 0.1s ease;
  transition: border-bottom-color 0.1s ease;
  &:hover { border-bottom-color: #fff; }
}
ul {
  list-style: disc;
  margin-bottom: 1em;
  margin-left: 40px;
  line-height: 1.5em;
  li { margin-bottom: 0.5em; }
}
hr {
  border: none;
  -webkit-border: none;
  border-top: 2px solid #17006a;
  margin-bottom: 1.5em;
}
img {
  max-width: 100% !important;
  margin-bottom: 1.5em;
  &.alignleft {
    float: left;
    margin-right: 2em;
  }
  &.alignright {
    float: right;
    margin-left: 2em;
  }
  &.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
