/*
Theme Name: Union
Theme URI: http://bakerkretzmar.ca/union-theme/
Author: Jacob Baker-Kretzmar
Author URI: http://bakerkretzmar.ca/
Description: A lightweight and classy theme, for a tiny but mighty organization.
Version: 1.1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: union
Tags: blog, education, left-sidebar, custom-header

Union is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

*/

//
// ~~> Mixins
//
@mixin flexy {
  display: flex;
  align-items: center;
}
@mixin quick-transition-ease {
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
@mixin medium-transition-ease {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@mixin link-plain {
  color: inherit;
  -webkit-transition: color 0.1s ease;
  -moz-transition: color 0.1s ease;
  -o-transition: color 0.1s ease;
  transition: color 0.1s ease;
  &:hover { color: $link-colour; }
}
@mixin link-decorated {
  color: $link-colour;
  border-bottom: 2px solid;
  border-bottom-color: $link-colour;
  -webkit-transition: border-bottom-color 0.1s ease;
  -moz-transition: border-bottom-color 0.1s ease;
  -o-transition: border-bottom-color 0.1s ease;
  transition: border-bottom-color 0.1s ease;
  &:hover { border-bottom-color: rgba(255,255,255,0); }
}

//
// ~~> Variables
//
$ksu-blue: #17006a;
$link-colour: #f00000;
$meta-grey: #999;
$content-max-width: 740px;


//
// ~~> Imports
//
@import 'breakpoint';
@import 'reset';
@import 'typography';
@import 'forms';
@import 'navigation';
@import 'slick';


//
// ~~> Structure
//
body {
  padding-top: 130px;
  @include breakpoint(0px 800px) {
    padding-top: 50px;
  }
}

//
// ~~> Masthead and Dashboard/Edit Links
//
header#masthead {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  @include flexy;
  height: 130px;
  @include breakpoint(0px 800px) {
    height: 50px;
    padding-left: 1em;
    padding-right: 1em;
  }
  padding-left: 2em;
  padding-right: 2em;
  background-color: #fff;
  border-bottom: 0.5px solid #eee;
  z-index: 100;
  @include medium-transition-ease;

  @include breakpoint(801px 1100px) {
    padding-left: 1em;
    padding-right: 1em;
  }

  nav { margin-left: auto; }
  .site-branding {
    margin-right: auto;
    a {
      @include flexy;
      flex-direction: row;
    }
    svg {
      display: block;
      height: 100px;
      width: auto;
      padding-right: 12px;
      @include quick-transition-ease;
      @include breakpoint(0px 800px) {
        height: 36px;
      }
    }
    h1 {
      font-family: 'Caslon 224';
      font-weight: 700;
      color: $ksu-blue;
      font-size: 36px;
      letter-spacing: 1.2px;
      padding-top: 10px;
      max-width: 180px;
      @include breakpoint(801px 980px) {
        display: none;
      }
      @include breakpoint(481px 800px) {
        font-size: 30px;
        padding-top: 8px;
        max-width: 340px;
      }
      @include breakpoint(0px 480px) {
        display: none;
      }
    }
  }
  nav { margin-left: auto; }
}

header#masthead.shrink {
  height: 50px;
  padding-left: 1em;
  padding-right: 1em;
  .site-branding {
    svg {
      height: 36px;
      @include quick-transition-ease;
      @include breakpoint(981px 1100px) {
        display: none;
      }
    }
    h1 {
      font-size: 30px;
      padding-top: 8px;
      max-width: 340px;
      @include breakpoint(801px 980px) {
        display: none;
      }
      @include breakpoint(0px 480px) {
        display: none;
      }
    }
  }
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
  border-bottom: #fff;
}

.dashlink {
  @include flexy;
  justify-content: center;
  position: fixed;
  right: 4px;
  bottom: 4px;
  height: 24px;
  width: 120px;
  z-index: 9;
  font-family: $sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0px;
  padding-top: 2px;
  border: 1px solid;
  border-radius: 3px;
  background: #fff;
  @include quick-transition-ease;
  @include link-plain;
  &.edit {
    right: 128px;
    width: 160px;
  }
}


//
// ~~> Widget Areas
//
// Size and positioning
aside.widget-area {
  position: absolute;
  top: 188px;
  left: 40px;
  width: 240px;
  padding-bottom: 2em;
  order: 1;
  @include breakpoint(0px 800px) {
    order: 2;
    position: static;
    width: auto;
    margin-right: 2em;
    margin-left: 2em;
  }
  @include breakpoint(0px 600px) {
    margin-right: 1em;
    margin-left: 1em;
  }
  @include breakpoint(801px) {
    &.floating {
      position: fixed;
      top: 94px;
    }
    &.pushed {
      position: absolute;
      align-self: flex-end;
      top: auto;
    }
  }
  a {
    color: inherit;
    transition: all 0.1s;
    &:hover {
      color: $link-colour;
    }
  }
  h2 {
    margin-top: 1em;
    margin-bottom: 0.8em;
    font-size: 20px;
    font-weight: 600;
  }
  ul {
    font-size: 18px;
    font-family: $sans-serif;
    li {
      line-height: 1em;
      margin-bottom: 0.8em;
      margin-left: 1.6em;
    }
  }
}


//
// ~~> Content Components
//
.site-content {
  display: flex;
  @include breakpoint(0px 800px) {
    flex-direction: column;
  }
}
.content-area {
  max-width: $content-max-width;
  min-height: 90vh;
  order: 2;
  margin-right: 2em;
  margin-left: 320px;
  @include breakpoint(601px 800px) {
    order: 1;
    margin-left: 2em;
    margin-right: 2em;
  }
  @include breakpoint(0px 600px) {
    margin-left: 1em;
    margin-right: 1em;
  }
}

.page-title { padding-top: 26px; }

.entry-header {
  h1 {
    padding-top: 0px;
    margin-bottom: 0.5em;
    a { @include link-plain; }
  }
  figure {
    margin-top: 54px;
  }
}
.entry-meta {
  p {
    font-size: 14px;
    color: $meta-grey;
    margin-bottom: 0.5em;
    a {
      @include link-decorated;
      color: $meta-grey;
      border-bottom-color: $meta-grey;
    }
  }
  span.tags-links a {
    font-size: 14px;
    color: $ksu-blue;
    padding: 3px 4px 1px;
    border: 1px solid;
    border-radius: 3px;
    margin-right: 8px;
    @include quick-transition-ease;
    &:hover { color: $meta-grey; }
  }
  span.tags-links a::before { content: '# '; }
  span#live {
    font-weight: 700;
    color: #f00000;
    span#dot {
      font-size: 18px;
      position: relative;
      top: 2px;
    }
  }
}

.entry-content,
.entry-summary {
  margin-top: 2em;
  margin-bottom: 3em;
  max-width: $content-max-width;
  a { @include link-decorated; }
  & > *:first-child {
    margin-top: 0px;
    padding-top: 0px;
  }
  ul,
  ol {
    list-style: disc;
    margin-bottom: 1em;
    margin-left: 4em;
    line-height: 1.5em;
    li { margin-bottom: 0.5em; }
    ul,
    ol {
      margin-top: 0.5em;
      margin-left: 2em;
    }
  }
  ul { list-style: disc; }
  ol { list-style: decimal; }
  img {
    max-width: 100% !important;
    margin-bottom: 1.5em;
    &.alignleft {
      float: left;
      margin-right: 2em;
    }
    &.alignright {
      float: right;
      margin-left: 2em;
    }
    &.aligncenter {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  hr {
    border: none;
    -webkit-border: none;
    border-top: 2px solid $ksu-blue;
    margin-bottom: 1.5em;
  }
}

.post-navigation,
.posts-navigation {
  margin-bottom: 2em;
  a {
    font-family: $sans-serif;
    @include link-decorated;
    font-weight: 600;
    line-height: 1.5em;
    text-transform: uppercase;
    color: #000;
    border-bottom-color: #000;
  }
  .nav-links {
    @include flexy;
    justify-content: space-between;
  }
}

.comments-area,
#disqus_thread {
  max-width: $content-max-width - 24px;
  margin: auto;
  border: 2px solid #ccc;
  border-radius: 3px;
  margin-top: 1.5em;
  margin-bottom: 2.5em;
  padding: 0px 12px;
  .no-comments {
    margin: 1em;
    text-align: center;
  }
}

figure.wp-caption {
  position: relative;
  max-width: 100% !important;
  margin-bottom: 1.5em;
  img {
    display: block;
    margin-bottom: 0 !important;
  }
  &.alignleft {
    float: left;
    margin-right: 2em;
  }
  &.alignright {
    float: right;
    margin-left: 2em;
  }
  &.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  figcaption {
    position: absolute;
    right: 0px;
    bottom: 0px;
    left: 0px;
    padding: 5px 6px 4px;
    text-align: right;
    font-family: $sans-serif;
    font-size: 14px;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
  }
}


//
// ~~> Home Page
//
body.page.home {
  .site-content { flex-direction: column; }
  .slick-main-slider {
    width: 100%;
    background-color: #eee;
    height: 500px;
    overflow: hidden;
    .slick-dots { bottom: 5px; }
    div {
      height: 500px;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: opacity(80%);
        // position: absolute;
        // top: 50%;
        // transform: translateY(-50%);
      }
      .caption {
        padding: 10px;
        h1 {
          font-size: 80px;
          color: #fff;
          margin-top: 0px;
          padding-top: 0px;
          margin-bottom: 0.2em;
          text-shadow: 3px 3px #777;
          a {
            @include link-plain;
            &:hover {
              color: inherit;
              text-shadow: 3px 3px $link-colour;
            }
          }
          @include breakpoint(481px 800px) {
            font-size: 60px;
          }
          @include breakpoint(0px 480px) {
            font-size: 50px;
          }
        }
        p {
          font-size: 16px;
          color: #fff;
          margin-bottom: 0px;
          a {
            @include link-plain;
            color: #fff;
          }
          @include breakpoint(0px 480px) {
            font-size: 14px;
          }
        }
        height: auto;
        max-height: 300px;
        max-width: 800px;
        position: absolute;
        left: 40px;
        bottom: 40px;
        @include breakpoint(0px 480px) {
          left: 6px;
        }
      }
    }
  }
  .content-area {
    max-width: $content-max-width;
    margin-right: auto;
    margin-left: auto;
    @include breakpoint(601px 800px) {
      order: 1;
      margin-left: 2em;
      margin-right: 2em;
    }
    @include breakpoint(0px 600px) {
      margin-left: 1em;
      margin-right: 1em;
    }
  }
}

//
// ~~> Blog Page
//
body.blog article.sticky header {
  h1:before {
    content: url('./parts/bm.svg');
    padding-right: 10px;
    padding-left: 10px;
  }
  p.meta:after {
    content: ' Pinned.';
  }
}

//
// ~~> 404 and No Results Pages
//
body.error404 {
  .content-area {
    margin-left: auto;
    margin-right: auto;
  }
  .not-found,
  .page-content {
    @include flexy;
    justify-content: center;
    flex-direction: column;
  }
  .not-found { margin-bottom: 14em; }
}

.not-found { margin-bottom: 16em; }


//
// ~~> Footer
//
footer#colophon {
  @include flexy;
  flex-direction: column;
  width: 100%;
  font-family: $sans-serif;
  .footer-widget-area {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    @include breakpoint(0px 800px) {
      padding-right: 1em;
      padding-left: 1em;
      flex-direction: column;
      align-items: center;
    }
    width: 100%;
    box-sizing: border-box;
    padding-right: 2em;
    padding-bottom: 1em;
    padding-left: 2em;
    background: #210f6a;
    section {
      flex: 1 1 30%;
      margin-left: 1em;
      margin-right: 1em;
      & > div {
        margin-left: 1em;
        margin-right: 1em;
        line-height: 1.2em;
        text-align: center;
      }
      h2 {
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 0.5px;
        color: #fff;
        margin-top: 0px;
        margin-bottom: 0.6em;
        text-align: center;
      }
      p {
        font-size: 16px;
        font-family: $sans-serif;
        font-weight: 400;
        line-height: 1.2em;
        color: #fff;
        margin-bottom: 0.6em;
      }
      a {
        @include link-decorated;
        color: #fff;
        border-bottom-color: #fff;
        &:hover { border-bottom-color: #210f6a; }
      }
      ul li {
        margin-bottom: 0.6em;
      }
    }
    #secondary-menu {
      padding-right: 4em;
      padding-left: 4em;
    }
    & .menu > ul {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
  }
  .site-info {
    @include flexy;
    // justify-content: space-between;
    position: relative;
    background: #222;
    height: 50px;
    width: 100%;
    p {
      font-family: $sans-serif;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
      color: #eee;
      margin: 0px;
      padding-top: 3px;
    }
    #copyright { padding-left: 20px; }
    #cfs {
      margin-right: auto;
      @include breakpoint(801px 960px) {
        display: none;
      }
    }
    #theme-by { padding-right: 20px; }
    #powered { margin-left: auto; }
    a {
      color: $link-colour;
      text-decoration: none;
      border-bottom: 2px solid #222;
      @include quick-transition-ease;
      &:hover {
        border-bottom: 2px solid $link-colour;
      }
    }
    z-index: 99;
    @include breakpoint(0px 800px) {
      flex-direction: column;
      justify-content: center;
      height: 110px;
      p {
        padding: 0px !important;
        margin: 0px;
        margin-left: auto;
        margin-right: auto;
        span { display: none; }
      }
      #cfs { margin-bottom: 10px; }
    }
  }
}


//
// ~~> Accessibility
//
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

//
// ~~> Social Icons
//
@import 'socicon';

footer#colophon .footer-widget-area section a.socicon {
  display: inline-block;
  margin-right: 0.7em;
  margin-left: 0.7em;
  border-bottom: none;
  &:hover p { color: $link-colour; }
  p.socicon-instagram { margin-right: 0.3em; } // So it's centered properly between fb and twitter
  p.socicon-facebook { margin-left: 0.15em; } // So all three stay centered properly
  p::before {
    font-size: 38px;
  }
}








// Recommended by WP

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}

.wp-caption-text {}
.gallery-caption {}
.bypostauthor {}
