@charset "UTF-8";
@font-face {
  /* Adobe Caslon Pro Regular - 400 */
  font-family: 'Adobe Caslon Pro';
  src: url("fonts/ACaslonPro-Regular.woff") format("woff"), url("fonts/ACaslonPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  /* Adobe Caslon Pro Regular Italic - 400 */
  font-family: 'Adobe Caslon Pro';
  src: url("fonts/ACaslonPro-Italic.woff") format("woff"), url("fonts/ACaslonPro-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  /* Adobe Caslon Pro Bold - 700 */
  font-family: 'Adobe Caslon Pro';
  src: url("fonts/ACaslonPro-Bold.woff") format("woff"), url("fonts/ACaslonPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  /* Adobe Caslon Pro Bold Italic - 700 */
  font-family: 'Adobe Caslon Pro';
  src: url("fonts/ACaslonPro-BoldItalic.woff") format("woff"), url("fonts/ACaslonPro-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic; }

@font-face {
  /* Caslon 224 Book - 400 */
  font-family: 'Caslon 224';
  src: url("fonts/Caslon224Std-Book.woff") format("woff"), url("fonts/Caslon224Std-Book.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  /* Caslon 224 Bold - 700 */
  font-family: 'Caslon 224';
  src: url("fonts/Caslon224Std-Bold.woff") format("woff"), url("fonts/Caslon224Std-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  /* Proxima Nova Thin - 100 */
  font-family: 'Proxima Nova';
  src: url("fonts/ProximaNova-Thin.woff") format("woff"), url("fonts/ProximaNova-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  /* Proxima Nova Thin Italic - 100 */
  font-family: 'Proxima Nova';
  src: url("fonts/ProximaNova-ThinItalic.woff") format("woff"), url("fonts/ProximaNova-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }

@font-face {
  /* Proxima Nova Regular - 400 */
  font-family: 'Proxima Nova';
  src: url("fonts/ProximaNova-Regular.woff") format("woff"), url("fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  /* Proxima Nova Regular Italic - 400 */
  font-family: 'Proxima Nova';
  src: url("fonts/ProximaNova-RegularItalic.woff") format("woff"), url("fonts/ProximaNova-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  /* Proxima Nova SemiBold - 700 */
  font-family: 'Proxima Nova';
  src: url("fonts/ProximaNova-SemiBold.woff") format("woff"), url("fonts/ProximaNova-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  /* Proxima Nova SemiBold Italic - 700 */
  font-family: 'Proxima Nova';
  src: url("fonts/ProximaNova-SemiBoldItalic.woff") format("woff"), url("fonts/ProximaNova-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }

@font-face {
  /* Proxima Nova Bold - 700 */
  font-family: 'Proxima Nova';
  src: url("fonts/ProximaNova-Bold.woff") format("woff"), url("fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  /* Proxima Nova Bold Italic - 700 */
  font-family: 'Proxima Nova';
  src: url("fonts/ProximaNova-BoldItalic.woff") format("woff"), url("fonts/ProximaNova-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic; }

body,
button,
input,
select,
textarea {
  font-family: "Adobe Caslon Pro", Georgia, Times New Roman, serif;
  color: #222;
  font-size: 18px;
  line-height: 1; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1em;
  padding-top: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  color: #111; }

h1 {
  font-size: 50px; }

h2 {
  font-size: 44px; }

h3 {
  font-size: 38px; }

h4 {
  font-size: 32px; }

h5 {
  font-size: 26px; }

h6 {
  font-size: 22px; }

p {
  font-family: "Adobe Caslon Pro", Georgia, Times New Roman, serif;
  font-size: 18px;
  color: #222;
  margin-bottom: 1.5em;
  line-height: 1.5em;
  font-weight: 400; }

b, strong {
  font-weight: 700; }

a {
  text-decoration: none;
  color: inherit; }

blockquote {
  position: relative;
  margin-left: 2em;
  margin-right: 2em;
  quotes: "“" "”"; }

blockquote:before {
  font-size: 600px;
  content: open-quote;
  color: #eee;
  display: block;
  position: absolute;
  top: -40px;
  left: 20px;
  z-index: -5; }

blockquote p {
  font-size: 28px;
  line-height: 1.3em;
  font-style: italic;
  margin-top: 2em;
  margin-bottom: 2em; }

a {
  color: #f00000;
  border-bottom: 2px solid;
  border-bottom-color: inherit;
  -webkit-transition: border-bottom-color 0.1s ease;
  -moz-transition: border-bottom-color 0.1s ease;
  -o-transition: border-bottom-color 0.1s ease;
  transition: border-bottom-color 0.1s ease; }
  a:hover {
    border-bottom-color: #fff; }

ul {
  list-style: disc;
  margin-bottom: 1em;
  margin-left: 40px;
  line-height: 1.5em; }
  ul li {
    margin-bottom: 0.5em; }

hr {
  border: none;
  -webkit-border: none;
  border-top: 2px solid #17006a;
  margin-bottom: 1.5em; }

img {
  max-width: 100% !important;
  margin-bottom: 1.5em; }
  img.alignleft {
    float: left;
    margin-right: 2em; }
  img.alignright {
    float: right;
    margin-left: 2em; }
  img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto; }
