@charset "UTF-8";
/*
Theme Name: Union
Theme URI: http://bakerkretzmar.ca/union-theme/
Author: Jacob Baker-Kretzmar
Author URI: http://bakerkretzmar.ca/
Description: A lightweight and classy theme, for a tiny but mighty organization.
Version: 1.1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: union
Tags: blog, education, left-sidebar, custom-header

Union is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

img {
  max-width: 100%;
  /* Adhere to container width. */
  height: auto;
  /* Make sure images are scaled correctly. */ }

embed,
iframe,
object {
  max-width: 100%; }

/* HTML5 display-role reset for older browsers */
div, article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

b, strong {
  font-weight: bold; }

i, em, dfn, cite {
  font-style: italic; }

@font-face {
  /* Adobe Caslon Pro Regular - 400 */
  font-family: 'Adobe Caslon Pro';
  src: url("fonts/ACaslonPro-Regular.woff") format("woff"), url("fonts/ACaslonPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  /* Adobe Caslon Pro Regular Italic - 400 */
  font-family: 'Adobe Caslon Pro';
  src: url("fonts/ACaslonPro-Italic.woff") format("woff"), url("fonts/ACaslonPro-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  /* Adobe Caslon Pro Bold - 700 */
  font-family: 'Adobe Caslon Pro';
  src: url("fonts/ACaslonPro-Bold.woff") format("woff"), url("fonts/ACaslonPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  /* Adobe Caslon Pro Bold Italic - 700 */
  font-family: 'Adobe Caslon Pro';
  src: url("fonts/ACaslonPro-BoldItalic.woff") format("woff"), url("fonts/ACaslonPro-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic; }

@font-face {
  /* Caslon 224 Book - 400 */
  font-family: 'Caslon 224';
  src: url("fonts/Caslon224Std-Book.woff") format("woff"), url("fonts/Caslon224Std-Book.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  /* Caslon 224 Bold - 700 */
  font-family: 'Caslon 224';
  src: url("fonts/Caslon224Std-Bold.woff") format("woff"), url("fonts/Caslon224Std-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  /* Proxima Nova Thin - 100 */
  font-family: 'Proxima Nova';
  src: url("fonts/ProximaNova-Thin.woff") format("woff"), url("fonts/ProximaNova-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  /* Proxima Nova Thin Italic - 100 */
  font-family: 'Proxima Nova';
  src: url("fonts/ProximaNova-ThinItalic.woff") format("woff"), url("fonts/ProximaNova-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }

@font-face {
  /* Proxima Nova Regular - 400 */
  font-family: 'Proxima Nova';
  src: url("fonts/ProximaNova-Regular.woff") format("woff"), url("fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  /* Proxima Nova Regular Italic - 400 */
  font-family: 'Proxima Nova';
  src: url("fonts/ProximaNova-RegularItalic.woff") format("woff"), url("fonts/ProximaNova-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  /* Proxima Nova SemiBold - 700 */
  font-family: 'Proxima Nova';
  src: url("fonts/ProximaNova-SemiBold.woff") format("woff"), url("fonts/ProximaNova-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  /* Proxima Nova SemiBold Italic - 700 */
  font-family: 'Proxima Nova';
  src: url("fonts/ProximaNova-SemiBoldItalic.woff") format("woff"), url("fonts/ProximaNova-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }

@font-face {
  /* Proxima Nova Bold - 700 */
  font-family: 'Proxima Nova';
  src: url("fonts/ProximaNova-Bold.woff") format("woff"), url("fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  /* Proxima Nova Bold Italic - 700 */
  font-family: 'Proxima Nova';
  src: url("fonts/ProximaNova-BoldItalic.woff") format("woff"), url("fonts/ProximaNova-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic; }

body,
button,
input,
select,
textarea {
  font-family: "Adobe Caslon Pro", Georgia, Times New Roman, serif;
  color: #222;
  font-size: 18px;
  line-height: 1; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1em;
  padding-top: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  color: #111; }

h1 {
  font-size: 50px; }

h2 {
  font-size: 44px; }

h3 {
  font-size: 38px; }

h4 {
  font-size: 32px; }

h5 {
  font-size: 26px; }

h6 {
  font-size: 22px; }

p {
  font-family: "Adobe Caslon Pro", Georgia, Times New Roman, serif;
  font-size: 18px;
  color: #222;
  margin-bottom: 1.5em;
  line-height: 1.5em;
  font-weight: 400; }

b, strong {
  font-weight: 700; }

a {
  text-decoration: none;
  color: inherit; }

blockquote {
  position: relative;
  margin-left: 2em;
  margin-right: 2em;
  quotes: "“" "”"; }

blockquote:before {
  font-size: 600px;
  content: open-quote;
  color: #eee;
  display: block;
  position: absolute;
  top: -40px;
  left: 20px;
  z-index: -5; }

blockquote p {
  font-size: 28px;
  line-height: 1.3em;
  font-style: italic;
  margin-top: 2em;
  margin-bottom: 2em; }

form.search-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 240px; }
  @media (min-width: 0px) and (max-width: 600px) {
    form.search-form {
      width: auto; } }
  form.search-form input[type="submit"] {
    display: none; }
  form.search-form input[type="search"],
  form.search-form input[type="search"]:focus {
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    border: 1px solid #333;
    -moz-border-radius: 2px;
         border-radius: 2px;
    width: 240px;
    padding: 8px 5px 6px 7px;
    background-color: transparent; }
    @media (min-width: 0px) and (max-width: 600px) {
      form.search-form input[type="search"],
      form.search-form input[type="search"]:focus {
        width: 100%; } }
  form.search-form label svg {
    position: absolute;
    right: 6px;
    top: 5px;
    width: 20px;
    height: auto; }
    form.search-form label svg #search {
      -webkit-transition: stroke 0.3s ease;
      -moz-transition: stroke 0.3s ease;
      -o-transition: stroke 0.3s ease;
      transition: stroke 0.3s ease; }
    form.search-form label svg:hover {
      cursor: pointer; }
      form.search-form label svg:hover #search {
        stroke: #f00000; }

.main-navigation {
  padding-top: 8px;
  font-weight: 600;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase; }
  .main-navigation .menu-toggle {
    display: none; }
    @media (min-width: 0px) and (max-width: 800px) {
      .main-navigation .menu-toggle {
        display: block;
        cursor: pointer;
        font-size: 20px;
        color: inherit;
        -webkit-transition: color 0.1s ease;
        -moz-transition: color 0.1s ease;
        -o-transition: color 0.1s ease;
        transition: color 0.1s ease; }
        .main-navigation .menu-toggle:hover {
          color: #f00000; } }
  @media (min-width: 0px) and (max-width: 800px) {
    .main-navigation {
      padding-top: 4px; }
      .main-navigation .menu-main-menu-container {
        display: none;
        position: fixed;
        top: 50px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background: rgba(255, 255, 255, 0.95); } }
  .main-navigation ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    @media (min-width: 0px) and (max-width: 800px) {
      .main-navigation ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: 100%;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around;
        font-size: 20px; }
        .main-navigation ul li a {
          display: block !important;
          text-align: center !important; } }
    .main-navigation ul li a {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      color: #000;
      letter-spacing: 1px;
      height: 122px;
      padding: 0px 11px;
      -webkit-transition: all 0.1s ease;
      -moz-transition: all 0.1s ease;
      -o-transition: all 0.1s ease;
      transition: all 0.1s ease; }
      @media (min-width: 801px) and (max-width: 1100px) {
        .main-navigation ul li a {
          padding: 0px 6px; } }
      @media (min-width: 0px) and (max-width: 800px) {
        .main-navigation ul li a {
          height: auto; } }
    .main-navigation ul li:hover > a,
    .main-navigation ul li.focus > a {
      color: #f00000; }
    .main-navigation ul li:hover > ul,
    .main-navigation ul li.focus > ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex; }
    .main-navigation ul ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      display: none;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
         -moz-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
         -moz-box-orient: vertical;
         -moz-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      position: absolute;
      top: 130px;
      padding: 18px 16px 0px;
      border-top: 0.5px solid #eee;
      margin-left: -16px;
      -webkit-box-shadow: 0px 8px 16px -6px rgba(0, 0, 0, 0.2);
         -moz-box-shadow: 0px 8px 16px -6px rgba(0, 0, 0, 0.2);
              box-shadow: 0px 8px 16px -6px rgba(0, 0, 0, 0.2);
      background: #fff;
      left: auto;
      z-index: 99; }
      @media (min-width: 0px) and (max-width: 800px) {
        .main-navigation ul ul {
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          position: static;
          font-size: 16px;
          font-weight: 400;
          -webkit-box-align: center;
          -webkit-align-items: center;
             -moz-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          padding: 0px 0px 0px 0px;
          border-top: none;
          margin-left: auto;
          margin-right: auto;
          -webkit-box-shadow: none;
             -moz-box-shadow: none;
                  box-shadow: none;
          background: none; } }
      .main-navigation ul ul li {
        margin-bottom: 16px; }
        @media (min-width: 0px) and (max-width: 800px) {
          .main-navigation ul ul li {
            margin-top: 4px;
            margin-bottom: 4px; } }
        .main-navigation ul ul li a {
          height: auto; }

.main-navigation.shrink {
  padding-top: 4px; }
  .main-navigation.shrink ul li a {
    height: 46px;
    padding: 0px 8px; }
    @media (min-width: 801px) and (max-width: 1100px) {
      .main-navigation.shrink ul li a {
        padding: 0px 6px; } }
    @media (min-width: 0px) and (max-width: 800px) {
      .main-navigation.shrink ul li a {
        height: auto; } }
  .main-navigation.shrink ul ul {
    top: 50px;
    margin-left: -16px; }
    @media (min-width: 0px) and (max-width: 800px) {
      .main-navigation.shrink ul ul {
        position: static;
        margin-left: auto; } }
    .main-navigation.shrink ul ul a {
      height: auto; }

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a {
  color: #f00000; }

aside.widget-area.page_sidebar ul {
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-top: 1.5em; }
  aside.widget-area.page_sidebar ul li {
    margin-bottom: 1em; }
    aside.widget-area.page_sidebar ul li.current_page_ancestor ul, aside.widget-area.page_sidebar ul li.current_page_item ul {
      display: block; }
    aside.widget-area.page_sidebar ul li.current_page_ancestor > a, aside.widget-area.page_sidebar ul li.current_page_item > a {
      color: #f00000; }
    aside.widget-area.page_sidebar ul li:hover ul, aside.widget-area.page_sidebar ul li.focus ul {
      display: block; }
    aside.widget-area.page_sidebar ul li ul {
      display: none;
      margin-top: 0.5em;
      margin-bottom: 1em;
      margin-left: 1.5em;
      font-size: 16px; }
      aside.widget-area.page_sidebar ul li ul li {
        margin-bottom: 0.5em; }
        aside.widget-area.page_sidebar ul li ul li.current_page_item {
          color: #f00000; }

/* Small menu. */
.main-navigation.toggled ul {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("parts/ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("fonts/slick.woff") format("woff"), url("fonts/slick.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
       transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 8px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

body {
  padding-top: 130px; }
  @media (min-width: 0px) and (max-width: 800px) {
    body {
      padding-top: 50px; } }

header#masthead {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 130px;
  padding-left: 2em;
  padding-right: 2em;
  background-color: #fff;
  border-bottom: 0.5px solid #eee;
  z-index: 100;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  @media (min-width: 0px) and (max-width: 800px) {
    header#masthead {
      height: 50px;
      padding-left: 1em;
      padding-right: 1em; } }
  @media (min-width: 801px) and (max-width: 1100px) {
    header#masthead {
      padding-left: 1em;
      padding-right: 1em; } }
  header#masthead nav {
    margin-left: auto; }
  header#masthead .site-branding {
    margin-right: auto; }
    header#masthead .site-branding a {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
         -moz-box-orient: horizontal;
         -moz-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; }
    header#masthead .site-branding svg {
      display: block;
      height: 100px;
      width: auto;
      padding-right: 12px;
      -webkit-transition: all 0.1s ease;
      -moz-transition: all 0.1s ease;
      -o-transition: all 0.1s ease;
      transition: all 0.1s ease; }
      @media (min-width: 0px) and (max-width: 800px) {
        header#masthead .site-branding svg {
          height: 36px; } }
    header#masthead .site-branding h1 {
      font-family: 'Caslon 224';
      font-weight: 700;
      color: #17006a;
      font-size: 36px;
      letter-spacing: 1.2px;
      padding-top: 10px;
      max-width: 180px; }
      @media (min-width: 801px) and (max-width: 980px) {
        header#masthead .site-branding h1 {
          display: none; } }
      @media (min-width: 481px) and (max-width: 800px) {
        header#masthead .site-branding h1 {
          font-size: 30px;
          padding-top: 8px;
          max-width: 340px; } }
      @media (min-width: 0px) and (max-width: 480px) {
        header#masthead .site-branding h1 {
          display: none; } }
  header#masthead nav {
    margin-left: auto; }

header#masthead.shrink {
  height: 50px;
  padding-left: 1em;
  padding-right: 1em;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
  border-bottom: #fff; }
  header#masthead.shrink .site-branding svg {
    height: 36px;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease; }
    @media (min-width: 981px) and (max-width: 1100px) {
      header#masthead.shrink .site-branding svg {
        display: none; } }
  header#masthead.shrink .site-branding h1 {
    font-size: 30px;
    padding-top: 8px;
    max-width: 340px; }
    @media (min-width: 801px) and (max-width: 980px) {
      header#masthead.shrink .site-branding h1 {
        display: none; } }
    @media (min-width: 0px) and (max-width: 480px) {
      header#masthead.shrink .site-branding h1 {
        display: none; } }

.dashlink {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  right: 4px;
  bottom: 4px;
  height: 24px;
  width: 120px;
  z-index: 9;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0px;
  padding-top: 2px;
  border: 1px solid;
  -moz-border-radius: 3px;
       border-radius: 3px;
  background: #fff;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  color: inherit;
  -webkit-transition: color 0.1s ease;
  -moz-transition: color 0.1s ease;
  -o-transition: color 0.1s ease;
  transition: color 0.1s ease; }
  .dashlink:hover {
    color: #f00000; }
  .dashlink.edit {
    right: 128px;
    width: 160px; }

aside.widget-area {
  position: absolute;
  top: 188px;
  left: 40px;
  width: 240px;
  padding-bottom: 2em;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
     -moz-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }
  @media (min-width: 0px) and (max-width: 800px) {
    aside.widget-area {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
         -moz-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      position: static;
      width: auto;
      margin-right: 2em;
      margin-left: 2em; } }
  @media (min-width: 0px) and (max-width: 600px) {
    aside.widget-area {
      margin-right: 1em;
      margin-left: 1em; } }
  @media (min-width: 801px) {
    aside.widget-area.floating {
      position: fixed;
      top: 94px; }
    aside.widget-area.pushed {
      position: absolute;
      -webkit-align-self: flex-end;
          -ms-flex-item-align: end;
              align-self: flex-end;
      top: auto; } }
  aside.widget-area a {
    color: inherit;
    -webkit-transition: all 0.1s;
    -o-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s; }
    aside.widget-area a:hover {
      color: #f00000; }
  aside.widget-area h2 {
    margin-top: 1em;
    margin-bottom: 0.8em;
    font-size: 20px;
    font-weight: 600; }
  aside.widget-area ul {
    font-size: 18px;
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif; }
    aside.widget-area ul li {
      line-height: 1em;
      margin-bottom: 0.8em;
      margin-left: 1.6em; }

.site-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }
  @media (min-width: 0px) and (max-width: 800px) {
    .site-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
         -moz-box-orient: vertical;
         -moz-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.content-area {
  max-width: 740px;
  min-height: 90vh;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
     -moz-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-right: 2em;
  margin-left: 320px; }
  @media (min-width: 601px) and (max-width: 800px) {
    .content-area {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
         -moz-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      margin-left: 2em;
      margin-right: 2em; } }
  @media (min-width: 0px) and (max-width: 600px) {
    .content-area {
      margin-left: 1em;
      margin-right: 1em; } }

.page-title {
  padding-top: 26px; }

.entry-header h1 {
  padding-top: 0px;
  margin-bottom: 0.5em; }
  .entry-header h1 a {
    color: inherit;
    -webkit-transition: color 0.1s ease;
    -moz-transition: color 0.1s ease;
    -o-transition: color 0.1s ease;
    transition: color 0.1s ease; }
    .entry-header h1 a:hover {
      color: #f00000; }

.entry-header figure {
  margin-top: 54px; }

.entry-meta p {
  font-size: 14px;
  color: #999;
  margin-bottom: 0.5em; }
  .entry-meta p a {
    color: #f00000;
    border-bottom: 2px solid;
    border-bottom-color: #f00000;
    -webkit-transition: border-bottom-color 0.1s ease;
    -moz-transition: border-bottom-color 0.1s ease;
    -o-transition: border-bottom-color 0.1s ease;
    transition: border-bottom-color 0.1s ease;
    color: #999;
    border-bottom-color: #999; }
    .entry-meta p a:hover {
      border-bottom-color: rgba(255, 255, 255, 0); }

.entry-meta span.tags-links a {
  font-size: 14px;
  color: #17006a;
  padding: 3px 4px 1px;
  border: 1px solid;
  -moz-border-radius: 3px;
       border-radius: 3px;
  margin-right: 8px;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease; }
  .entry-meta span.tags-links a:hover {
    color: #999; }

.entry-meta span.tags-links a::before {
  content: '# '; }

.entry-meta span#live {
  font-weight: 700;
  color: #f00000; }
  .entry-meta span#live span#dot {
    font-size: 18px;
    position: relative;
    top: 2px; }

.entry-content,
.entry-summary {
  margin-top: 2em;
  margin-bottom: 3em;
  max-width: 740px; }
  .entry-content a,
  .entry-summary a {
    color: #f00000;
    border-bottom: 2px solid;
    border-bottom-color: #f00000;
    -webkit-transition: border-bottom-color 0.1s ease;
    -moz-transition: border-bottom-color 0.1s ease;
    -o-transition: border-bottom-color 0.1s ease;
    transition: border-bottom-color 0.1s ease; }
    .entry-content a:hover,
    .entry-summary a:hover {
      border-bottom-color: rgba(255, 255, 255, 0); }
  .entry-content > *:first-child,
  .entry-summary > *:first-child {
    margin-top: 0px;
    padding-top: 0px; }
  .entry-content ul,
  .entry-content ol,
  .entry-summary ul,
  .entry-summary ol {
    list-style: disc;
    margin-bottom: 1em;
    margin-left: 4em;
    line-height: 1.5em; }
    .entry-content ul li,
    .entry-content ol li,
    .entry-summary ul li,
    .entry-summary ol li {
      margin-bottom: 0.5em; }
    .entry-content ul ul,
    .entry-content ul ol,
    .entry-content ol ul,
    .entry-content ol ol,
    .entry-summary ul ul,
    .entry-summary ul ol,
    .entry-summary ol ul,
    .entry-summary ol ol {
      margin-top: 0.5em;
      margin-left: 2em; }
  .entry-content ul,
  .entry-summary ul {
    list-style: disc; }
  .entry-content ol,
  .entry-summary ol {
    list-style: decimal; }
  .entry-content img,
  .entry-summary img {
    max-width: 100% !important;
    margin-bottom: 1.5em; }
    .entry-content img.alignleft,
    .entry-summary img.alignleft {
      float: left;
      margin-right: 2em; }
    .entry-content img.alignright,
    .entry-summary img.alignright {
      float: right;
      margin-left: 2em; }
    .entry-content img.aligncenter,
    .entry-summary img.aligncenter {
      display: block;
      margin-left: auto;
      margin-right: auto; }
  .entry-content hr,
  .entry-summary hr {
    border: none;
    -webkit-border: none;
    border-top: 2px solid #17006a;
    margin-bottom: 1.5em; }

.post-navigation,
.posts-navigation {
  margin-bottom: 2em; }
  .post-navigation a,
  .posts-navigation a {
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #f00000;
    border-bottom: 2px solid;
    border-bottom-color: #f00000;
    -webkit-transition: border-bottom-color 0.1s ease;
    -moz-transition: border-bottom-color 0.1s ease;
    -o-transition: border-bottom-color 0.1s ease;
    transition: border-bottom-color 0.1s ease;
    font-weight: 600;
    line-height: 1.5em;
    text-transform: uppercase;
    color: #000;
    border-bottom-color: #000; }
    .post-navigation a:hover,
    .posts-navigation a:hover {
      border-bottom-color: rgba(255, 255, 255, 0); }
  .post-navigation .nav-links,
  .posts-navigation .nav-links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.comments-area,
#disqus_thread {
  max-width: 716px;
  margin: auto;
  border: 2px solid #ccc;
  -moz-border-radius: 3px;
       border-radius: 3px;
  margin-top: 1.5em;
  margin-bottom: 2.5em;
  padding: 0px 12px; }
  .comments-area .no-comments,
  #disqus_thread .no-comments {
    margin: 1em;
    text-align: center; }

figure.wp-caption {
  position: relative;
  max-width: 100% !important;
  margin-bottom: 1.5em; }
  figure.wp-caption img {
    display: block;
    margin-bottom: 0 !important; }
  figure.wp-caption.alignleft {
    float: left;
    margin-right: 2em; }
  figure.wp-caption.alignright {
    float: right;
    margin-left: 2em; }
  figure.wp-caption.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  figure.wp-caption figcaption {
    position: absolute;
    right: 0px;
    bottom: 0px;
    left: 0px;
    padding: 5px 6px 4px;
    text-align: right;
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #fff;
    background: rgba(0, 0, 0, 0.6); }

body.page.home .site-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

body.page.home .slick-main-slider {
  width: 100%;
  background-color: #eee;
  height: 500px;
  overflow: hidden; }
  body.page.home .slick-main-slider .slick-dots {
    bottom: 5px; }
  body.page.home .slick-main-slider div {
    height: 500px;
    position: relative; }
    body.page.home .slick-main-slider div img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      -webkit-filter: opacity(80%);
              filter: opacity(80%); }
    body.page.home .slick-main-slider div .caption {
      padding: 10px;
      height: auto;
      max-height: 300px;
      max-width: 800px;
      position: absolute;
      left: 40px;
      bottom: 40px; }
      body.page.home .slick-main-slider div .caption h1 {
        font-size: 80px;
        color: #fff;
        margin-top: 0px;
        padding-top: 0px;
        margin-bottom: 0.2em;
        text-shadow: 3px 3px #777; }
        body.page.home .slick-main-slider div .caption h1 a {
          color: inherit;
          -webkit-transition: color 0.1s ease;
          -moz-transition: color 0.1s ease;
          -o-transition: color 0.1s ease;
          transition: color 0.1s ease; }
          body.page.home .slick-main-slider div .caption h1 a:hover {
            color: #f00000; }
          body.page.home .slick-main-slider div .caption h1 a:hover {
            color: inherit;
            text-shadow: 3px 3px #f00000; }
        @media (min-width: 481px) and (max-width: 800px) {
          body.page.home .slick-main-slider div .caption h1 {
            font-size: 60px; } }
        @media (min-width: 0px) and (max-width: 480px) {
          body.page.home .slick-main-slider div .caption h1 {
            font-size: 50px; } }
      body.page.home .slick-main-slider div .caption p {
        font-size: 16px;
        color: #fff;
        margin-bottom: 0px; }
        body.page.home .slick-main-slider div .caption p a {
          color: inherit;
          -webkit-transition: color 0.1s ease;
          -moz-transition: color 0.1s ease;
          -o-transition: color 0.1s ease;
          transition: color 0.1s ease;
          color: #fff; }
          body.page.home .slick-main-slider div .caption p a:hover {
            color: #f00000; }
        @media (min-width: 0px) and (max-width: 480px) {
          body.page.home .slick-main-slider div .caption p {
            font-size: 14px; } }
      @media (min-width: 0px) and (max-width: 480px) {
        body.page.home .slick-main-slider div .caption {
          left: 6px; } }

body.page.home .content-area {
  max-width: 740px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 601px) and (max-width: 800px) {
    body.page.home .content-area {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
         -moz-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      margin-left: 2em;
      margin-right: 2em; } }
  @media (min-width: 0px) and (max-width: 600px) {
    body.page.home .content-area {
      margin-left: 1em;
      margin-right: 1em; } }

body.blog article.sticky header h1:before {
  content: url("./parts/bm.svg");
  padding-right: 10px;
  padding-left: 10px; }

body.blog article.sticky header p.meta:after {
  content: ' Pinned.'; }

body.error404 .content-area {
  margin-left: auto;
  margin-right: auto; }

body.error404 .not-found,
body.error404 .page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

body.error404 .not-found {
  margin-bottom: 14em; }

.not-found {
  margin-bottom: 16em; }

footer#colophon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  footer#colophon .footer-widget-area {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding-right: 2em;
    padding-bottom: 1em;
    padding-left: 2em;
    background: #210f6a; }
    @media (min-width: 0px) and (max-width: 800px) {
      footer#colophon .footer-widget-area {
        padding-right: 1em;
        padding-left: 1em;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
    footer#colophon .footer-widget-area section {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 30%;
         -moz-box-flex: 1;
          -ms-flex: 1 1 30%;
              flex: 1 1 30%;
      margin-left: 1em;
      margin-right: 1em; }
      footer#colophon .footer-widget-area section > div {
        margin-left: 1em;
        margin-right: 1em;
        line-height: 1.2em;
        text-align: center; }
      footer#colophon .footer-widget-area section h2 {
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 0.5px;
        color: #fff;
        margin-top: 0px;
        margin-bottom: 0.6em;
        text-align: center; }
      footer#colophon .footer-widget-area section p {
        font-size: 16px;
        font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 400;
        line-height: 1.2em;
        color: #fff;
        margin-bottom: 0.6em; }
      footer#colophon .footer-widget-area section a {
        color: #f00000;
        border-bottom: 2px solid;
        border-bottom-color: #f00000;
        -webkit-transition: border-bottom-color 0.1s ease;
        -moz-transition: border-bottom-color 0.1s ease;
        -o-transition: border-bottom-color 0.1s ease;
        transition: border-bottom-color 0.1s ease;
        color: #fff;
        border-bottom-color: #fff; }
        footer#colophon .footer-widget-area section a:hover {
          border-bottom-color: rgba(255, 255, 255, 0); }
        footer#colophon .footer-widget-area section a:hover {
          border-bottom-color: #210f6a; }
      footer#colophon .footer-widget-area section ul li {
        margin-bottom: 0.6em; }
    footer#colophon .footer-widget-area #secondary-menu {
      padding-right: 4em;
      padding-left: 4em; }
    footer#colophon .footer-widget-area .menu > ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
         -moz-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
         -moz-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
  footer#colophon .site-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    background: #222;
    height: 50px;
    width: 100%;
    z-index: 99; }
    footer#colophon .site-info p {
      font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
      color: #eee;
      margin: 0px;
      padding-top: 3px; }
    footer#colophon .site-info #copyright {
      padding-left: 20px; }
    footer#colophon .site-info #cfs {
      margin-right: auto; }
      @media (min-width: 801px) and (max-width: 960px) {
        footer#colophon .site-info #cfs {
          display: none; } }
    footer#colophon .site-info #theme-by {
      padding-right: 20px; }
    footer#colophon .site-info #powered {
      margin-left: auto; }
    footer#colophon .site-info a {
      color: #f00000;
      text-decoration: none;
      border-bottom: 2px solid #222;
      -webkit-transition: all 0.1s ease;
      -moz-transition: all 0.1s ease;
      -o-transition: all 0.1s ease;
      transition: all 0.1s ease; }
      footer#colophon .site-info a:hover {
        border-bottom: 2px solid #f00000; }
    @media (min-width: 0px) and (max-width: 800px) {
      footer#colophon .site-info {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
           -moz-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        height: 110px; }
        footer#colophon .site-info p {
          padding: 0px !important;
          margin: 0px;
          margin-left: auto;
          margin-right: auto; }
          footer#colophon .site-info p span {
            display: none; }
        footer#colophon .site-info #cfs {
          margin-bottom: 10px; } }

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:focus {
  background-color: #f1f1f1;
  -moz-border-radius: 3px;
       border-radius: 3px;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
     -moz-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0; }

@font-face {
  font-family: "socicon";
  src: url("fonts/socicon.woff") format("woff"), url("fonts/socicon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  font-family: "socicon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="socicon-"]:before,
[class*=" socicon-"]:before {
  font-family: "socicon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.socicon-mail:before {
  content: "\e01f"; }

.socicon-snapchat:before {
  content: "\e03f"; }

.socicon-twitter:before {
  content: "\e040"; }

.socicon-facebook:before {
  content: "\e041"; }

.socicon-googleplus:before {
  content: "\e042"; }

.socicon-pinterest:before {
  content: "\e043"; }

.socicon-linkedin:before {
  content: "\e049"; }

.socicon-youtube:before {
  content: "\e051"; }

.socicon-wordpress:before {
  content: "\e058"; }

.socicon-google:before {
  content: "\e067"; }

.socicon-medium:before {
  content: "\e06d"; }

.socicon-instagram:before {
  content: "\e057"; }

.socicon-issuu:before {
  content: "\e087"; }

footer#colophon .footer-widget-area section a.socicon {
  display: inline-block;
  margin-right: 0.7em;
  margin-left: 0.7em;
  border-bottom: none; }
  footer#colophon .footer-widget-area section a.socicon:hover p {
    color: #f00000; }
  footer#colophon .footer-widget-area section a.socicon p.socicon-instagram {
    margin-right: 0.3em; }
  footer#colophon .footer-widget-area section a.socicon p.socicon-facebook {
    margin-left: 0.15em; }
  footer#colophon .footer-widget-area section a.socicon p::before {
    font-size: 38px; }

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto; }
